<main class="container">
  
  <header class="cabecalho">
    <h2>Simulador do Efeito Arrastão 🗳️</h2>
    <p>Descubra quem os seus votos ajudam a eleger.</p>
  </header>

  <section class="busca-box">
    <input type="number" [(ngModel)]="numeroBusca" placeholder="Número (ex: 1234)">
    
    <input type="text" [(ngModel)]="estadoBusca" placeholder="UF (ex: DF)" class="input-curto">
    
    <select [value]="cargoBusca" (change)="cargoBusca = $any($event.target).value">
      <option value="Deputado Federal">Deputado Federal</option>
      <option value="Deputado Estadual">Deputado Estadual</option>
    </select>
    
    <button (click)="buscarImpacto()">Pesquisar</button>
  </section>

  <p *ngIf="mensagemErro" class="mensagem-erro">
    {{ mensagemErro }}
  </p>

  <section *ngIf="resultado" class="area-resultados">
    
    <div class="card-principal">
      <p class="rotulo">🎯 Candidato Principal</p>
      <h2>{{ resultado.candidatoPrincipal.nomeUrna }} <span class="numero-destaque">({{ resultado.candidatoPrincipal.numero }})</span></h2>
      <div class="tags">
        <span class="tag tag-partido">{{ resultado.candidatoPrincipal.partido }}</span>
        <span class="tag tag-federacao">{{ resultado.candidatoPrincipal.federacao }}</span>
      </div>
    </div>

    <h3 class="divisor">⬇️ Votos também ajudam a eleger ⬇️</h3>

    <div class="grid-beneficiados">
      
      <div *ngFor="let colega of resultado.beneficiados" class="card-beneficiado">
        <h4>{{ colega.nomeUrna }} <span class="numero-texto">({{ colega.numero }})</span></h4>
        <span class="tag-pequena">{{ colega.partido }}</span>
      </div>

      <p *ngIf="resultado.beneficiados.length === 0" class="texto-vazio">
        Nenhum outro candidato desta federação foi encontrado neste estado.
      </p>
      
    </div>
  </section>

</main>